body {
    background-color: #e0fbfc;
    transition: all 1s;
}
#parent {
    font-size: 20px;
}
#titleHeading {
    color: #3d405b;
    text-align: center;
    font-size: 2.2em;
    font-family: 'Audiowide', cursive;
    font-weight: 550;
    transition: all 1s;
}

  /* DARK MODE */
  
  .darkTheme {
      background-color: #101720;
  }
  .darkTheme #titleHeading {
    color: #ee6c4d;
  }


    