body {
    /* background-color: #03071e; */
    background-color: #a8dadc;
    /* transition: all 1s; */
}
#parent {
    font-size: 20px;
}
#titleHeading {
    color: #293241;
    text-align: center;
    font-size: 2.2em;
    font-family: 'Cabin', sans-serif;
    /* transition: all 1s; */
}



/* DARK MODE */
  
  
[data-theme="dark"] #titleHeading {
    color: #fca311;
}