.navbar {
    font-family: 'Audiowide', cursive;
    font-weight: 550;
    transition: all 1s;
}
.navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-family: 'Audiowide', cursive;
    font-weight: 505;
}
.navbar .navbar-brand {
    font-family: 'Audiowide', cursive;
}

@media (min-width: 900px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }

/* Dropdown Dark Mode */
.darkTheme .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
    background-color: #212529;
}
.darkTheme .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.darkTheme .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #222222;
}
.darkTheme .navbar .collapse .navbar-nav>.active .nav-link  {
  color: #ffffff;
}