.navbar {
    font-family: 'Audiowide', cursive;
    font-weight: 550;
    
}
.navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-family: 'Audiowide', cursive;
    font-weight: 505;
}
.navbar-brand {
    font-family: 'Audiowide', cursive;
}

 .navbar .navbar-brand {
    color: #ffffff;
}
 .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #ffffff80;
}
 .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
}
 .navbar .collapse .navbar-nav>.active .nav-link  {
    color: #ffffff;
}
 .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
    background-color: #333333;
}
 .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: #ffffff;
}
 .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #222222;
    color: white;
}
 .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.959)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
   .navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.959);
  }
