body {
    /* background-color: #fffffc; */
    background-image: linear-gradient(90deg, red, rgba(255, 255, 0, 0.795));
}
#parent {
    font-size: 20px;
}
#navbar {
    border: 2px solid;
    border-color: #22223b;
    background-color: #22223b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#navbar a {
    color: #fca311;
    padding: 1em;
    transition: 1.25s;
    font-size: larger;
}
#navbar a:hover {
    color: red;
    transition: 1s;
}
#titleHeading {
    color: rgb(16, 16, 231);
    text-align: center;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
}
#quote {
    color : #0b34ec;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Kaushan Script', cursive;
}
#loginForm {
    text-align: center;
    border: 2px solid;
    display: flex;
    flex-direction: column;
}