body {
    background-color: #fffffc;
}
.darkTheme {
    background-color: #03071e;
}
#parent {
    font-size: 20px;
}
#navbar {
    border: 2px solid;
    border-color: #22223b;
    background-color: #22223b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#navbar a {
    color: #fca311;
    padding: 1em;
    font-size: larger;
}
#navbar a:hover {
    color: red;
    transition: 1s;
}
#themeChange {
    background-color: #fca311;
    color: black;
    display: flex;
    border-radius: 0.5em;
    padding: 0.4em;
}
#themeChange:hover {
    background-color: black;
    color: #fca311;
    display: flex;
    font-size: medium;
    padding: 0.5em;
}
#titleHeading {
    color: rgb(16, 16, 231);
    text-align: center;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
}
.darkTheme #titleHeading {
    color: #fca311;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
}
#quote {
    color : #0b34ec;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Kaushan Script', cursive;
}
#loginForm {
    text-align: center;
    border: 2px solid;
    display: flex;
    flex-direction: column;
}